body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Page layout */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1100px;
}

.flex-layout {
  align-items: center;
  display: flex;
  gap: 1%;
  justify-content: space-around;
  min-height: 100vh;
}

.card-input {
  width: 35%;
}

.card-preview {
  width: 35%;
}

/* Forms */

.form {
  padding: 1em;
  width: 100%;
}

.row-input {
  display: flex;
  flex-wrap: wrap;
}

/* Card Info */

.form__card-info label {
  width: 100%;
}

/* Attributes Inputs */

.input-group {
  width: 75%;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.attr-info {
  font-weight: bold;
  text-align: right;
}

.attr-info--valid {
  color: green;
}

.attr-info--danger {
  color: red;
}

.form__card-level .form-control,
.form__card-image .form-control {
  width: 80% !important;
}

.form__card-level .input-group-text,
.form__card-image .input-group-text {
  width: 20%;
}

/* Card */

.card {
  padding: 5%;
}

.card__title {
  font-size: 1.2em;
}

.list-group-item {
  display: flex;
  align-items: center;
  gap: 3%;
}

.progress {
  flex-grow: 1;
}

.card__attributes .input-group-text {
  justify-content: center;
  margin-left: auto;
  width: 15%;
}

.badge {
  font-size: 1em;
}

.card__rare-info {
  top: 120px;
}

.card__trunfo {
  top: 90px;
}

/* Card Library */

.card-library {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  min-height: 90vh;
  padding-bottom: 5%;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 280px));
  gap: 2%;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2%;
}