body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Forms */

.form {
  width: 100%;
  padding: 1em;
}

/* label {
  width: 100%;
} */

p {
  width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card-input {
  width: 30%;
}

.row-input {
  display: flex;
  flex-wrap: wrap;
}

/* Card Info */

.form__card-info label {
  width: 100%;
}

/* Attributes Inputs */

.input-group {
  width: 75%;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.attr-info {
  font-weight: bold;
  text-align: right;
}

.attr-info--valid {
  color: green;
}

.attr-info--danger {
  color: red;
}

.form__card-level .form-control,
.form__card-image .form-control {
  width: 80% !important;
}

.form__card-level .input-group-text,
.form__card-image .input-group-text {
  width: 20%;
}
